<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="DemoSuite" verbose="1">
	<parameter name="browser"  value="Edge"/>
	<test name="AppLaunchTests">

		<classes>
			<class name="com.testng.demo.AllAnnotationsDemo1" />
			<class name="com.testng.demo.AllAnnotationsDemo2" />
			<!-- class name="com.testng.demo.TestNgDemo2"/ -->
		</classes>
	</test>

</suite>
