<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="DemoSuite" verbose="1">

	<test name="AppLaunchTests">

		<groups>
			<run>
				<include name="SmokeTest" />
				<exclude name="RegressionTest" />
			</run>
		</groups>

		<classes>
			<class name="com.testng.demo.TestNgDemo1" />
			<class name="com.testng.demo.TestNgDemo2" />
			<class name="com.testng.demo.TestNgDemo3" />
			<class name="com.testng.demo.TestNgDemo4" />
			<!-- class name="com.testng.demo.TestNgDemo2"/ -->
		</classes>
	</test>

</suite>
